<template>
    <main class="main_body">
        <img src="../../assets/img/Homepage/_background/Homepage_background.png" class="mainbody_bg"/>
        <div class="main_left white">
            <header>
                <label class="bold label_top">GTA 5</label>
                <h1 class="bold"><span>{{lang.home.s}}</span>{{lang.home.rp}} &</h1>
                <h1 class="bold">{{lang.home.gw}}</h1>
                <span>{{lang.home.txt}}</span>
            </header>
            <main>
                <p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.88 8.29L10 14.17L8.12 12.29C7.73 11.9 7.1 11.9 6.71 12.29C6.32 12.68 6.32 13.31 6.71 13.7L9.3 16.29C9.69 16.68 10.32 16.68 10.71 16.29L17.3 9.7C17.69 9.31 17.69 8.68 17.3 8.29C16.91 7.9 16.27 7.9 15.88 8.29Z" fill="#00DF16"/>
                    </svg>
                    {{lang.home.genft_1}}
                </p>
                <p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.88 8.29L10 14.17L8.12 12.29C7.73 11.9 7.1 11.9 6.71 12.29C6.32 12.68 6.32 13.31 6.71 13.7L9.3 16.29C9.69 16.68 10.32 16.68 10.71 16.29L17.3 9.7C17.69 9.31 17.69 8.68 17.3 8.29C16.91 7.9 16.27 7.9 15.88 8.29Z" fill="#00DF16"/>
                    </svg>
                   {{lang.home.genft_2}}
                </p>
                <p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.88 8.29L10 14.17L8.12 12.29C7.73 11.9 7.1 11.9 6.71 12.29C6.32 12.68 6.32 13.31 6.71 13.7L9.3 16.29C9.69 16.68 10.32 16.68 10.71 16.29L17.3 9.7C17.69 9.31 17.69 8.68 17.3 8.29C16.91 7.9 16.27 7.9 15.88 8.29Z" fill="#00DF16"/>
                    </svg>
                    {{lang.home.genft_3}}
                </p>
                <p>... {{lang.home.more_ft}}</p>
            </main>
        </div>
        <div class="main_right">
            <img src="../../assets/img/Homepage/mainbody/homepage_main_3.png" alt=""/>
            <img src="../../assets/img/Homepage/mainbody/homepage_main_2.png" alt=""/>
            <img src="../../assets/img/Homepage/mainbody/homepage_main_1.png" alt=""/>
        </div>
    </main>
</template>

<style scoped>
@import url('../../assets/css/homepage/assets/mainbody/mainbody.css');
</style>

<script>
import { getlang } from '../../assets/js/getlang';
const language = getlang.getlang();

export default {
  name: 'Main Body',
  data: () => {
    return {
      lang: language
    }
  }
}
</script>