<template>
  <nav class="nav_home">
    <div class="nav_home_left">
      <img
        src="//www.blackdayz.de/Library/pg/logo/PhenixGames_Logo_transparent.png"
        alt="PhenixGames"
      />
    </div>
    <div class="nav_home_right text-transform-up">
      <router-link :to="{path: forum}" class="white text-deco-none">{{lang.nav.forum}}</router-link>
      <a class="cursor-pointer white nav_home_socials" href="#">
        <span class="nav_home_socials_hover">
            <svg
              width="18"
              height="28"
              viewBox="0 0 18 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.27273 10.8889C2.62544 10.8889 1.9927 11.0714 1.4545 11.4132C0.916302 11.7551 0.496828 12.2409 0.249123 12.8094C0.00141801 13.3779 -0.0633929 14.0035 0.062886 14.6069C0.189165 15.2104 0.500862 15.7648 0.958561 16.1999C1.41626 16.635 1.9994 16.9313 2.63425 17.0513C3.2691 17.1714 3.92713 17.1098 4.52515 16.8743C5.12316 16.6388 5.63429 16.2401 5.9939 15.7284C6.35351 15.2168 6.54545 14.6153 6.54545 14C6.54545 13.1749 6.20065 12.3836 5.5869 11.8001C4.97314 11.2167 4.14071 10.8889 3.27273 10.8889ZM3.27273 21.7778C2.62544 21.7778 1.9927 21.9602 1.4545 22.3021C0.916302 22.6439 0.496828 23.1298 0.249123 23.6983C0.00141801 24.2668 -0.0633929 24.8923 0.062886 25.4958C0.189165 26.0993 0.500862 26.6537 0.958561 27.0888C1.41626 27.5239 1.9994 27.8202 2.63425 27.9402C3.2691 28.0603 3.92713 27.9987 4.52515 27.7632C5.12316 27.5277 5.63429 27.1289 5.9939 26.6173C6.35351 26.1057 6.54545 25.5042 6.54545 24.8889C6.54545 24.0638 6.20065 23.2724 5.5869 22.689C4.97314 22.1056 4.14071 21.7778 3.27273 21.7778ZM14.7273 6.22222C15.3746 6.22222 16.0073 6.03976 16.5455 5.69791C17.0837 5.35605 17.5032 4.87016 17.7509 4.30168C17.9986 3.7332 18.0634 3.10766 17.9371 2.50416C17.8108 1.90067 17.4991 1.34632 17.0414 0.911224C16.5837 0.476128 16.0006 0.179823 15.3657 0.0597805C14.7309 -0.0602624 14.0729 0.00134799 13.4749 0.236821C12.8768 0.472293 12.3657 0.871052 12.0061 1.38267C11.6465 1.89429 11.4545 2.49579 11.4545 3.11111C11.4545 3.93623 11.7993 4.72755 12.4131 5.311C13.0269 5.89445 13.8593 6.22222 14.7273 6.22222ZM3.27273 1.30902e-06C2.62544 1.30902e-06 1.9927 0.182465 1.4545 0.524318C0.916302 0.866171 0.496828 1.35206 0.249123 1.92054C0.00141801 2.48902 -0.0633929 3.11456 0.062886 3.71806C0.189165 4.32156 0.500862 4.8759 0.958561 5.311C1.41626 5.7461 1.9994 6.0424 2.63425 6.16244C3.2691 6.28249 3.92713 6.22088 4.52515 5.9854C5.12316 5.74993 5.63429 5.35117 5.9939 4.83955C6.35351 4.32793 6.54545 3.72643 6.54545 3.11111C6.54545 2.28599 6.20065 1.49467 5.5869 0.911224C4.97314 0.327778 4.14071 1.30902e-06 3.27273 1.30902e-06ZM14.7273 21.7778C14.08 21.7778 13.4472 21.9602 12.909 22.3021C12.3708 22.6439 11.9514 23.1298 11.7037 23.6983C11.456 24.2668 11.3912 24.8923 11.5174 25.4958C11.6437 26.0993 11.9554 26.6537 12.4131 27.0888C12.8708 27.5239 13.4539 27.8202 14.0888 27.9402C14.7236 28.0603 15.3817 27.9987 15.9797 27.7632C16.5777 27.5277 17.0888 27.1289 17.4484 26.6173C17.8081 26.1057 18 25.5042 18 24.8889C18 24.0638 17.6552 23.2724 17.0414 22.689C16.4277 22.1056 15.5953 21.7778 14.7273 21.7778V21.7778ZM14.7273 10.8889C14.08 10.8889 13.4472 11.0714 12.909 11.4132C12.3708 11.7551 11.9514 12.2409 11.7037 12.8094C11.456 13.3779 11.3912 14.0035 11.5174 14.6069C11.6437 15.2104 11.9554 15.7648 12.4131 16.1999C12.8708 16.635 13.4539 16.9313 14.0888 17.0513C14.7236 17.1714 15.3817 17.1098 15.9797 16.8743C16.5777 16.6388 17.0888 16.2401 17.4484 15.7284C17.8081 15.2168 18 14.6153 18 14C18 13.1749 17.6552 12.3836 17.0414 11.8001C16.4277 11.2167 15.5953 10.8889 14.7273 10.8889V10.8889Z"
                fill="white"
              />
            </svg>
            <div class="nav_home_socials_menu absolute">
                <a :href="config.routing.socials.yt">
                <svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.9687 9.70886C16.3579 8.31354 13.8575 7.03067 11.302 5.69238V13.7031C13.9912 12.2413 16.8257 10.9024 18.9797 9.70826H18.9687V9.70886Z" fill="white"/>
                    <path d="M18.9687 9.70886C16.3579 8.31354 11.302 5.69238 11.302 5.69238L18.0425 10.2218C18.0425 10.2218 16.8146 10.9028 18.9687 9.70866V9.70886Z" fill="#E8E0E0"/>
                    <path d="M11.7942 19.9754C6.37099 19.875 4.51859 19.7858 3.37972 19.551C2.65008 19.4175 1.97746 19.0676 1.4492 18.5469C1.06984 18.1669 0.768202 17.5874 0.534041 16.7833C0.333217 16.1133 0.255097 15.556 0.143639 14.1944C-0.027061 11.1218 -0.0676275 8.60953 0.143639 5.80241C0.317553 4.25285 0.4021 2.4125 1.56005 1.33889C2.08824 0.845006 2.74641 0.512123 3.45724 0.379357C4.57301 0.167487 9.32692 0 14.2485 0C19.1589 0 23.9234 0.167487 25.0402 0.379357C25.914 0.538463 26.7019 1.00559 27.2607 1.69596C28.3174 3.35818 28.3359 5.42486 28.4432 7.0417C28.4875 7.81206 28.4875 12.186 28.4432 12.9564C28.2763 15.5114 28.1419 16.4154 27.7626 17.3526C27.6016 17.8238 27.3342 18.2516 26.9812 18.6027C26.4376 19.1352 25.7446 19.4894 24.9946 19.6181C20.3014 19.9709 16.3162 20.0477 11.7932 19.9752L11.7942 19.9754ZM18.9803 9.70884C16.3696 8.31351 13.8692 7.0196 11.3137 5.68031V13.6932C14.0033 12.2312 16.8379 10.8917 18.9914 9.69779L18.9803 9.70884Z" fill="#CD201F"/>
                </svg></a>
                <a :href="config.routing.socials.ig">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M16.5 0H7.5C5.51088 0 3.60322 0.790176 2.1967 2.1967C0.790176 3.60322 0 5.51088 0 7.5L0 16.5C0 18.4891 0.790176 20.3968 2.1967 21.8033C3.60322 23.2098 5.51088 24 7.5 24H16.5C18.4891 24 20.3968 23.2098 21.8033 21.8033C23.2098 20.3968 24 18.4891 24 16.5V7.5C24 5.51088 23.2098 3.60322 21.8033 2.1967C20.3968 0.790176 18.4891 0 16.5 0V0ZM21.75 16.5C21.75 19.395 19.395 21.75 16.5 21.75H7.5C4.605 21.75 2.25 19.395 2.25 16.5V7.5C2.25 4.605 4.605 2.25 7.5 2.25H16.5C19.395 2.25 21.75 4.605 21.75 7.5V16.5Z" fill="url(#paint0_linear)"/>
                        <path d="M12 6C10.4087 6 8.88258 6.63214 7.75736 7.75736C6.63214 8.88258 6 10.4087 6 12C6 13.5913 6.63214 15.1174 7.75736 16.2426C8.88258 17.3679 10.4087 18 12 18C13.5913 18 15.1174 17.3679 16.2426 16.2426C17.3679 15.1174 18 13.5913 18 12C18 10.4087 17.3679 8.88258 16.2426 7.75736C15.1174 6.63214 13.5913 6 12 6ZM12 15.75C11.0058 15.7488 10.0527 15.3533 9.34966 14.6503C8.64666 13.9473 8.25119 12.9942 8.25 12C8.25 9.9315 9.933 8.25 12 8.25C14.067 8.25 15.75 9.9315 15.75 12C15.75 14.067 14.067 15.75 12 15.75Z" fill="url(#paint1_linear)"/>
                        <path d="M18.4501 6.34949C18.8917 6.34949 19.2496 5.99154 19.2496 5.54999C19.2496 5.10844 18.8917 4.75049 18.4501 4.75049C18.0086 4.75049 17.6506 5.10844 17.6506 5.54999C17.6506 5.99154 18.0086 6.34949 18.4501 6.34949Z" fill="url(#paint2_linear)"/>
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear" x1="2.196" y1="21.804" x2="21.804" y2="2.196" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC107"/>
                            <stop offset="0.507" stop-color="#F44336"/>
                            <stop offset="0.99" stop-color="#9C27B0"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="7.758" y1="16.242" x2="16.242" y2="7.758" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC107"/>
                            <stop offset="0.507" stop-color="#F44336"/>
                            <stop offset="0.99" stop-color="#9C27B0"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear" x1="17.8846" y1="6.11549" x2="19.0156" y2="4.98449" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC107"/>
                            <stop offset="0.507" stop-color="#F44336"/>
                            <stop offset="0.99" stop-color="#9C27B0"/>
                        </linearGradient>
                        <clipPath id="clip0">
                            <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                </a>
                <a :href="config.routing.socials.dc">
                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27 13.5C27 6.04416 20.9558 0 13.5 0C6.04416 0 0 6.04416 0 13.5C0 20.9558 6.04416 27 13.5 27C20.9558 27 27 20.9558 27 13.5Z" fill="#7289DA"/>
                    <path d="M20.2706 8.87612C19.0321 7.88528 17.5459 7.38989 15.9771 7.30731L15.7294 7.55504C17.133 7.88528 18.3716 8.54582 19.5275 9.45409C18.1239 8.71097 16.555 8.21558 14.9037 8.05043C14.4083 7.96786 13.9954 7.96786 13.5 7.96786C13.0046 7.96786 12.5917 7.96786 12.0963 8.05043C10.445 8.21558 8.87614 8.71097 7.47248 9.45409C8.62841 8.54582 9.86698 7.88528 11.2706 7.55504L11.0229 7.30731C9.45411 7.38989 7.96787 7.88528 6.72936 8.87612C5.32569 11.5184 4.58257 14.4908 4.5 17.5458C5.73851 18.867 7.47247 19.6927 9.28901 19.6927C9.28901 19.6927 9.86698 19.0321 10.2798 18.4541C9.20644 18.2064 8.21559 17.6284 7.55505 16.7202C8.13302 17.0504 8.71099 17.3807 9.28901 17.6284C10.0321 17.9587 10.7753 18.1239 11.5184 18.289C12.1789 18.3715 12.8395 18.4541 13.5 18.4541C14.1605 18.4541 14.8211 18.3715 15.4816 18.289C16.2247 18.1239 16.9679 17.9587 17.711 17.6284C18.289 17.3807 18.867 17.0504 19.445 16.7202C18.7844 17.6284 17.7936 18.2064 16.7202 18.4541C17.133 19.0321 17.711 19.6927 17.711 19.6927C19.5275 19.6927 21.2615 18.867 22.5 17.5458C22.4174 14.4908 21.6743 11.5184 20.2706 8.87612ZM10.7752 16.0596C9.94956 16.0596 9.20644 15.3165 9.20644 14.4083C9.20644 13.5 9.94956 12.7569 10.7752 12.7569C11.6009 12.7569 12.3441 13.5 12.3441 14.4083C12.3441 15.3165 11.6009 16.0596 10.7752 16.0596ZM16.2247 16.0596C15.3991 16.0596 14.6559 15.3165 14.6559 14.4083C14.6559 13.5 15.3991 12.7569 16.2247 12.7569C17.0504 12.7569 17.7936 13.5 17.7936 14.4083C17.7936 15.3165 17.0504 16.0596 16.2247 16.0596Z" fill="white"/>
                </svg>
                </a>
                <a :to="{path: config.routing.socials.ts}">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M9.14849 0.0169467C8.09001 0.0670772 6.97254 0.198165 6.11867 0.37556C5.54024 0.498975 4.11582 0.965549 4.08042 1.04267C4.07255 1.06195 4.04108 1.07351 4.00957 1.07351C3.9781 1.07351 3.95452 1.08894 3.95452 1.10823C3.95452 1.1275 3.92305 1.15451 3.88369 1.16607C3.77743 1.20076 3.5689 1.409 3.46266 1.59024C3.36821 1.74832 3.12423 2.82031 2.43564 6.06716C2.17204 7.31267 2.22319 7.17003 2.02645 7.27028C1.58182 7.50164 1.43621 7.59804 1.16866 7.84097C0.629576 8.33071 0.314795 8.83584 0.110179 9.54154C0.0117996 9.8847 0 9.98499 0 10.5017C0 10.9837 0.0157283 11.1341 0.0904949 11.404C0.271485 12.0596 0.590235 12.5917 1.06632 13.0467C1.40476 13.3668 1.66051 13.5249 2.15628 13.7215C2.73075 13.9452 2.88031 13.9722 3.58071 13.9722C4.11582 13.9683 4.2575 13.9568 4.52111 13.8835C5.82355 13.5172 6.76396 12.5917 7.1063 11.3307C7.23615 10.868 7.23615 10.0698 7.1063 9.5955C7.05907 9.41425 7.01581 9.24846 7.01188 9.22917C7.00792 9.20604 6.93711 9.0672 6.85841 8.91683C6.64591 8.50806 6.35477 8.1379 6.05569 7.8988C5.91013 7.78312 5.7409 7.64432 5.67796 7.59033L5.56779 7.49392L5.54024 4.23167L5.51664 0.969386L5.68189 0.907692C5.77242 0.872989 5.89439 0.842135 5.9534 0.842135C6.01242 0.842135 6.12259 0.822858 6.19737 0.799731C6.5633 0.691783 9.32558 0.506649 9.89612 0.549092C10.7106 0.614662 11.23 0.668617 11.7652 0.741887C12.0406 0.776578 12.9141 0.9771 13.5162 1.13907C14.1614 1.3126 15.5033 1.7946 15.8731 1.98741C15.9676 2.03754 16.062 2.07611 16.0816 2.07611C16.1682 2.07611 17.3605 2.7008 17.4116 2.77407C17.4234 2.78947 17.4785 2.82031 17.5375 2.84348C17.7776 2.93216 18.9423 3.73422 19.4184 4.13912C19.7568 4.42831 20.709 5.3885 20.9294 5.66998C21.2206 6.04016 21.6573 6.66873 21.8068 6.93478C21.9524 7.18931 22.1492 7.56331 22.1531 7.59033C22.1531 7.60188 22.1964 7.68289 22.2436 7.77157C22.4522 8.16489 22.8338 9.33328 22.944 9.92327C23.1368 10.9644 23.1762 12.4297 23.0385 13.3938C22.9952 13.6907 22.9598 13.9799 22.9598 14.0416C22.9598 14.0994 22.8771 14.3964 22.7788 14.6971C22.5584 15.3797 22.4994 15.5223 22.2554 16.0429C22.1885 16.1856 22.1334 16.3206 22.1334 16.3437C22.1334 16.363 22.1177 16.3822 22.0941 16.3822C22.0744 16.3822 22.0548 16.4054 22.0548 16.4324C22.0548 16.5327 21.2914 17.7242 21.1498 17.8476C21.134 17.8592 21.0592 17.9517 20.9805 18.0558C20.5044 18.6728 19.5482 19.552 18.6905 20.1612C18.5409 20.2654 18.3285 20.4196 18.2183 20.4967C17.7736 20.8168 16.3532 21.5418 15.641 21.8155C15.5229 21.8618 15.3891 21.9158 15.3459 21.935C14.9052 22.1317 13.642 22.552 13.4925 22.552C13.4532 22.552 13.3706 22.5674 13.3037 22.5867C13.0282 22.6716 12.2648 22.8451 12.0603 22.8759C11.9855 22.8837 11.6589 22.9376 11.3323 22.9878C10.6476 23.0996 9.77018 23.169 9.06584 23.169C8.37331 23.169 6.98825 23.0687 6.35476 22.9724C6.06356 22.9261 5.73698 22.8759 5.62682 22.8605C5.43006 22.8297 5.22939 22.7834 4.89886 22.6909C4.80048 22.66 4.64311 22.6176 4.54474 22.5906C4.37552 22.5443 4.24962 22.4981 4.02533 22.3978C3.93482 22.3554 3.89941 22.3592 3.78923 22.4132C3.71842 22.4518 3.57673 22.5212 3.47446 22.5752C3.36821 22.6253 3.28559 22.6831 3.28559 22.7063C3.28559 22.7564 3.46658 22.8451 3.63971 22.8798C3.71446 22.8952 3.86792 22.9531 3.97417 23.0147C4.2811 23.1806 5.20186 23.4582 5.9416 23.6086C6.1147 23.6433 6.33508 23.6934 6.43345 23.7127C6.53182 23.7359 6.71678 23.7706 6.84661 23.786C6.97645 23.8014 7.20862 23.8322 7.35816 23.8554C8.12935 23.9788 8.51496 23.9981 10.0141 23.9981C11.5605 23.9981 11.8832 23.9788 12.7685 23.84C14.0001 23.6472 15.4796 23.2616 16.2902 22.9184C16.5066 22.8297 16.7545 22.7333 16.8411 22.7063C17.3565 22.5482 18.659 21.8849 19.4774 21.3643C19.7765 21.1715 20.5792 20.597 20.772 20.435C21.437 19.8759 22.1688 19.1548 22.6292 18.5995C23.0424 18.1021 23.6641 17.1226 23.9986 16.444C24.8957 14.62 25.2065 12.4027 24.8642 10.3282C24.695 9.29858 24.4117 8.46182 23.8962 7.45924C23.432 6.54918 23.3296 6.40265 22.2987 5.12242C21.7281 4.41677 20.7523 3.55685 19.8001 2.92444C19.5797 2.77792 19.3791 2.64297 19.3594 2.62369C19.3357 2.6044 19.2335 2.53884 19.1272 2.47715C19.0249 2.41544 18.8911 2.33447 18.836 2.29976C18.5606 2.1301 17.51 1.59797 17.1559 1.44758C16.9827 1.37429 16.7624 1.28176 16.664 1.23548C16.5657 1.19307 16.4083 1.13135 16.3099 1.10053C16.2115 1.0658 16.0344 1.00412 15.9164 0.957836C14.8068 0.541392 13.4611 0.229045 12.139 0.0748037C11.6078 0.0130703 9.94726 -0.017757 9.14849 0.0169467Z" fill="white"/>
                        <path d="M8.55824 1.65937C7.67682 1.70177 7.69649 1.68638 8.11752 1.97171C8.54247 2.26091 8.97928 2.64653 9.35701 3.06302C9.76228 3.51032 9.81739 3.57588 9.81739 3.61827C9.81739 3.64143 9.82919 3.65684 9.84885 3.65684C9.86462 3.65684 9.93936 3.7494 10.0141 3.85736C10.0889 3.9692 10.1636 4.07716 10.1794 4.10028C10.2187 4.14656 10.5099 4.57846 10.6319 4.77126C10.6791 4.84839 10.7539 4.97947 10.7932 5.06431C10.99 5.46148 11.3205 6.15558 11.3598 6.24043C11.3795 6.29444 11.4228 6.38694 11.4504 6.45252C11.4779 6.51424 11.5251 6.6376 11.5605 6.72244C11.592 6.80728 11.6746 7.0078 11.7376 7.16589C11.9658 7.72118 12.1507 8.56564 12.1507 9.03611C12.1507 9.46028 12.0917 9.60679 11.8202 9.83048C11.6707 9.95386 11.6274 10.0117 11.6274 10.1004C11.6274 10.2392 11.9776 10.914 12.2019 11.2148C12.4262 11.5117 12.8866 12.1788 12.8866 12.2058C12.8866 12.2174 12.9416 12.2907 13.0046 12.3716C13.0715 12.4526 13.1227 12.5298 13.1227 12.5413C13.1227 12.5529 13.1895 12.6647 13.2682 12.7842C13.461 13.0773 13.4886 13.1197 13.6263 13.4012C13.7876 13.7252 13.8034 13.783 13.7719 13.9758C13.7444 14.1725 13.5122 14.4347 13.2801 14.5388C12.9653 14.6776 12.8393 14.7239 12.7685 14.7239C12.6347 14.7239 12.3593 14.8434 12.2688 14.9437C12.139 15.0786 12.1508 15.2714 12.3199 15.6108C12.5246 16.0311 12.5049 16.1853 12.2019 16.5131C12.1232 16.5979 12.0602 16.6866 12.0602 16.7098C12.0602 16.7329 12.1114 16.8023 12.1783 16.864C12.2806 16.9604 12.2963 17.0028 12.2963 17.1879C12.2963 17.3962 12.2924 17.4039 12.0799 17.5967L11.8635 17.7972V18.0903C11.8635 18.3795 11.8989 18.5761 12.0051 18.9232C12.0366 19.0196 12.0603 19.1507 12.0603 19.2162C12.0603 19.3782 11.9304 19.7368 11.7848 19.9952L11.6668 20.1995H11.7691C11.895 20.1995 12.6308 20.0607 12.9259 19.9798C13.5791 19.8024 14.5785 19.4553 15.0704 19.2355C16.1406 18.7535 16.8883 18.3563 17.1165 18.152C17.1834 18.0941 17.3801 17.9437 17.5611 17.8165C18.4268 17.2149 19.3515 16.2547 19.9535 15.3331C20.2408 14.8974 20.6815 13.9796 20.7956 13.5863C20.8113 13.5207 20.8585 13.3742 20.894 13.2585C20.9294 13.1429 20.9727 12.9693 20.9884 12.8729C21.0081 12.7765 21.0395 12.6107 21.0631 12.5066C21.1891 11.9243 21.2363 10.5978 21.1458 10.0117C21.0356 9.24818 20.8782 8.67749 20.6028 8.03351C20.5555 7.92555 20.229 7.29313 20.1188 7.10032C20.0676 7.01551 19.9103 6.78027 19.7607 6.57975C18.9226 5.44608 18.0215 4.65171 16.5656 3.76478C15.7 3.23654 15.3222 3.07071 13.7168 2.49998C12.7134 2.14522 11.3362 1.84834 10.1322 1.72878C9.68754 1.68249 9.29011 1.64393 9.24683 1.63627C9.20353 1.63236 8.89271 1.64009 8.55824 1.65937Z" fill="white"/>
                        <path d="M6.43362 4.71341V7.42808L6.79954 7.7173C7.18122 8.02194 7.61009 8.44229 7.86982 8.76616C7.9564 8.8703 8.03901 8.96668 8.05081 8.97825C8.06261 8.98981 8.17281 9.13638 8.29085 9.30603C8.78662 10.0117 9.14468 10.7598 9.38077 11.5811C9.51457 12.0361 9.66016 13.0387 9.66016 13.4899C9.65621 14.2495 9.40441 15.7226 9.19189 16.2277C9.14864 16.3241 9.03059 16.6095 8.92825 16.864C8.82597 17.1185 8.64498 17.508 8.52693 17.7316C8.4089 17.9553 8.28296 18.1867 8.25151 18.2522C8.1177 18.5067 7.81868 18.9309 7.48026 19.3512C7.28351 19.5941 7.07104 19.8679 7.01203 19.9566L6.90578 20.1186L7.05531 20.1456C7.13401 20.1571 7.30715 20.1957 7.437 20.2265C7.7203 20.2959 8.97158 20.3962 9.24702 20.373C9.35718 20.3615 9.56967 20.3461 9.71919 20.3345C10.1323 20.3075 10.5022 20.1802 10.7462 19.9798C10.8682 19.8795 11.0334 19.6018 11.1003 19.3936C11.1987 19.0736 11.1711 18.7998 10.9705 18.2098C10.9193 18.0594 10.88 17.8975 10.88 17.8512C10.88 17.7201 10.9705 17.5774 11.1908 17.3653C11.3049 17.2573 11.3915 17.1416 11.3915 17.0954C11.3915 17.0529 11.3128 16.9373 11.2144 16.8447C11.116 16.7522 11.0373 16.6403 11.0373 16.6018C11.0373 16.5594 11.1554 16.4052 11.297 16.2586C11.5331 16.0118 11.5528 15.981 11.5252 15.8691C11.5134 15.7997 11.478 15.7187 11.4544 15.6879C11.3443 15.5491 11.1947 15.1287 11.1947 14.9475C11.1947 14.6699 11.478 14.4617 12.1234 14.265C12.4657 14.1609 12.5444 14.1223 12.6663 13.9912C12.7647 13.8871 12.808 13.7984 12.808 13.7213C12.808 13.5747 12.5759 13.1197 12.3595 12.8421C12.2729 12.7264 12.1076 12.4912 12.0014 12.3177C11.8912 12.1441 11.6984 11.8472 11.5686 11.6582C10.9469 10.7212 10.7658 10.4243 10.6675 10.1698C10.6006 9.99628 10.6006 9.98856 10.6793 9.83432C10.7265 9.74562 10.8131 9.61839 10.8721 9.54895C11.2892 9.07081 11.3285 8.8703 11.1318 8.18393C11.1003 8.07594 11.0767 7.95639 11.0767 7.9217C11.0767 7.84459 10.7108 6.74559 10.6242 6.56046C10.5927 6.49494 10.5652 6.43322 10.5652 6.42167C10.5652 6.38694 10.3015 5.82781 10.1048 5.44992C9.44766 4.17357 8.44427 2.93961 7.61796 2.41133C7.34648 2.23396 6.72475 1.99872 6.53197 1.99872H6.43359V4.71341H6.43361H6.43362Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="25" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                </a>
                <router-link :to="{path: config.routing.socials.yt}">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.20833 14.875C9.02047 14.875 8.8403 14.9496 8.70747 15.0825C8.57463 15.2153 8.5 15.3955 8.5 15.5833C8.5 15.7712 8.57463 15.9514 8.70747 16.0842C8.8403 16.217 9.02047 16.2917 9.20833 16.2917H14.875C15.0629 16.2917 15.243 16.217 15.3759 16.0842C15.5087 15.9514 15.5833 15.7712 15.5833 15.5833V1.41668C15.5833 1.22882 15.5087 1.04865 15.3759 0.915809C15.243 0.782971 15.0629 0.708344 14.875 0.708344H9.20833C9.02047 0.708344 8.8403 0.782971 8.70747 0.915809C8.57463 1.04865 8.5 1.22882 8.5 1.41668C8.5 1.60454 8.57463 1.78471 8.70747 1.91754C8.8403 2.05038 9.02047 2.12501 9.20833 2.12501H14.1667V14.875H9.20833Z" fill="white"/>
                    <path d="M1.41675 8.50002C1.41675 8.68788 1.49138 8.86805 1.62421 9.00088C1.75705 9.13372 1.93722 9.20835 2.12508 9.20835H10.3318L8.70762 10.8326C8.63997 10.8979 8.58601 10.9761 8.54888 11.0625C8.51176 11.1489 8.49222 11.2418 8.4914 11.3359C8.49059 11.43 8.50851 11.5232 8.54413 11.6103C8.57974 11.6973 8.63234 11.7764 8.69884 11.8429C8.76535 11.9094 8.84444 11.962 8.93149 11.9976C9.01854 12.0333 9.11181 12.0512 9.20587 12.0504C9.29992 12.0495 9.39287 12.03 9.47929 11.9929C9.5657 11.9558 9.64387 11.9018 9.70921 11.8341L12.5425 9.00081C12.6753 8.86798 12.7499 8.68784 12.7499 8.50002C12.7499 8.31219 12.6753 8.13206 12.5425 7.99922L9.70921 5.16589C9.64387 5.09824 9.5657 5.04428 9.47929 5.00715C9.39287 4.97003 9.29992 4.95049 9.20587 4.94967C9.11181 4.94886 9.01854 4.96678 8.93149 5.00239C8.84444 5.03801 8.76535 5.0906 8.69884 5.15711C8.63234 5.22362 8.57974 5.30271 8.54413 5.38976C8.50851 5.47681 8.49059 5.57008 8.4914 5.66413C8.49222 5.75819 8.51176 5.85113 8.54888 5.93755C8.58601 6.02397 8.63997 6.10213 8.70762 6.16747L10.3318 7.79168H2.12508C1.93722 7.79168 1.75705 7.86631 1.62421 7.99915C1.49138 8.13199 1.41675 8.31215 1.41675 8.50002Z" fill="white"/>
                </svg>
                </router-link>
            </div>
        </span>
      </a>
    </div>
  </nav>
</template>

<style scoped>
@import url('../../assets/css/homepage/assets/nav/nav.css');
</style>

<script>
import { getConfig } from '../../assets/js/getconfig';
const config = getConfig.getConfig();

import { getlang } from '../../assets/js/getlang';
const language = getlang.getlang();

export default {
    name: 'homepageNav',
    data: () => {
        return {
            home: config.routing.home.route,
            forum: config.routing.forum.home.route,
            lang: language,
            config: config
        }
    }
}
</script>