<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://www.blackdayz.de/Library/CSS/V0_0_1/BlackCSS.css">
    <link rel="stylesheet" href="https://www.blackdayz.de/Library/pg/root.css">
    <link rel="stylesheet" href="<%= BASE_URL %>BlackCSS.css" />
    <meta http-equiv="Content-Security-Policy" content="default-src * gap:; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self'; img-src * data: blob: android-webview-video-poster:; style-src 'self' 'unsafe-inline';">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
