@media only screen and (max-width: 768px) {
    .footerbody {
        padding: 40px !important;
        height: 200px !important;
    }
    .footer_left {
        left: 50%;
        transform: translateX(-50%);
    }
    .footer_center {
        transform: translateY(50px);
    }
    .footer_right {
        display: grid;
        float: none !important;
        justify-content: center !important;
        margin: 80px 0 0 0!important;
    }
}